@using Kamino.Entities
@model Post

<h1>@Model.Title</h1>

<p>@Model.Id</p>
<p>@Model.Uri</p>
<p>@Model.Url</p>
<p>@Model.Summary</p>
<p>@Model.Source</p>
<p>@Model.SourceType</p>
<p>@Model.PublishedAt</p>
<p>@Model.EditedAt</p>
<p>@Model.Author?.Name</p>
